In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [2]:
# Loading ipython-sql
%load_ext sql

In [3]:
# Importing create_engine function from sqlalchemy
from sqlalchemy import create_engine

In [4]:
# Connecting ipython-sql to PostgreSQL Database
%sql postgresql://postgres:pencil@localhost/wine_db

In [5]:
# Connecting sqlalchemy to PostgreSQL Database
engine = create_engine('postgresql://postgres:pencil@localhost/wine_db')

In [6]:
# Checking that we can pull data from PostgreSQL Database in cell below

In [7]:
%%sql

SELECT
    *
FROM red_wine_quality 
LIMIT 3

 * postgresql://postgres:***@localhost/wine_db
3 rows affected.

[('red', '7.4', '0.7', '0', '1.9', '0.076', '11', '34', '0.9978', '3.51', '0.56', '9.4', '5'),
 ('red', '7.8', '0.88', '0', '2.6', '0.098', '25', '67', '0.9968', '3.2', '0.68', '9.8', '5'),
 ('red', '7.8', '0.76', '0.04', '2.3', '0.092', '15', '54', '0.997', '3.26', '0.65', '9.8', '5')]

In [8]:
# Formulating DataFrame from Database
red_wine_df = pd.read_sql('SELECT * FROM red_wine_quality', engine)
red_wine_df

,type,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulfates,alcohol,quality
0,red,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,red,7.8,0.88,0,2.6,0.098,25,67,0.9968,3.2,0.68,9.8,5
2,red,7.8,0.76,0.04,2.3,0.092,15,54,0.997,3.26,0.65,9.8,5
3,red,11.2,0.28,0.56,1.9,0.075,17,60,0.998,3.16,0.58,9.8,6
4,red,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1588,red,6.8,0.62,0.08,1.9,0.068,28,38,0.99651,3.42,0.82,9.5,6
1589,red,6.2,0.6,0.08,2,0.09,32,44,0.9949,3.45,0.58,10.5,5
1590,red,6.3,0.51,0.13,2.3,0.076,29,40,0.99574,3.42,0.75,11,6
1591,red,5.9,0.645,0.12,2,0.075,32,44,0.99547,3.57,0.71,10.2,5
1592,red,6,0.31,0.47,3.6,0.067,18,42,0.99549,3.39,0.66,11,6

In [9]:
# Checking for any empty spaces in our data
red_wine_df.isnull().sum()

type                    0
fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
ph                      0
sulfates                0
alcohol                 0
quality                 0
dtype: int64

In [10]:
red_wine_df.dtypes

type                    object
fixed_acidity           object
volatile_acidity        object
citric_acid             object
residual_sugar          object
chlorides               object
free_sulfur_dioxide     object
total_sulfur_dioxide    object
density                 object
ph                      object
sulfates                object
alcohol                 object
quality                 object
dtype: object

In [11]:
red_wine_df = red_wine_df.astype({"fixed_acidity": float, "volatile_acidity": float, "citric_acid": float, "residual_sugar": float, "chlorides": float, "free_sulfur_dioxide": float, "total_sulfur_dioxide": float, "density": float, "ph": float, "sulfates": float, "alcohol": float, "quality": int})
red_wine_df.dtypes

type                     object
fixed_acidity           float64
volatile_acidity        float64
citric_acid             float64
residual_sugar          float64
chlorides               float64
free_sulfur_dioxide     float64
total_sulfur_dioxide    float64
density                 float64
ph                      float64
sulfates                float64
alcohol                 float64
quality                   int32
dtype: object

In [12]:
# Drop the non-beneficial ID columns, 'residual_sugar', 'free_sulfur_dioxide', and 'ph'.
red_wine_df.drop(['residual_sugar', 'free_sulfur_dioxide', 'ph'], axis=1, inplace=True)

In [13]:
# Create Classification version of target variable
# Idea for classification inspired by Terence Shin on 
# towardsdatascience.com/predicting-wine-quality-with-several-classification-techniques-179038ea6434
red_wine_df['goodquality'] = [1 if x >= 7 else 0 for x in red_wine_df['quality']]

In [14]:
red_wine_df.head()

,type,fixed_acidity,volatile_acidity,citric_acid,chlorides,total_sulfur_dioxide,density,sulfates,alcohol,quality,goodquality
0,red,7.4,0.700,0.00,0.076,34.0,0.99780,0.56,9.4,5,0
1,red,7.8,0.880,0.00,0.098,67.0,0.99680,0.68,9.8,5,0
2,red,7.8,0.760,0.04,0.092,54.0,0.99700,0.65,9.8,5,0
3,red,11.2,0.280,0.56,0.075,60.0,0.99800,0.58,9.8,6,0
4,red,7.4,0.700,0.00,0.076,34.0,0.99780,0.56,9.4,5,0
...,...,...,...,...,...,...,...,...,...,...,...
1588,red,6.8,0.620,0.08,0.068,38.0,0.99651,0.82,9.5,6,0
1589,red,6.2,0.600,0.08,0.090,44.0,0.99490,0.58,10.5,5,0
1590,red,6.3,0.510,0.13,0.076,40.0,0.99574,0.75,11.0,6,0
1591,red,5.9,0.645,0.12,0.075,44.0,0.99547,0.71,10.2,5,0
1592,red,6.0,0.310,0.47,0.067,42.0,0.99549,0.66,11.0,6,0

In [15]:
# Split our preprocessed data into our features and target arrays
y= red_wine_df["goodquality"].values
X = red_wine_df.drop(columns=["goodquality", 'type'], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
number_hidden_nodes_layer1 =  50
number_hidden_nodes_layer2 = 25

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=number_hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=number_hidden_nodes_layer2, activation="relu", input_dim=number_input_features))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                500

 dense_1 (Dense)             (None, 25)                1275

 dense_2 (Dense)             (None, 1)                 26

=================================================================
Total params: 1,801
Trainable params: 1,801
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    period=5)

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=20,callbacks=[cp_callback])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/20
38/38 [==============================] - 2s 4ms/step - loss: 0.5094 - accuracy: 0.8049
Epoch 2/20
38/38 [==============================] - 0s 4ms/step - loss: 0.2805 - accuracy: 0.9263
Epoch 3/20
38/38 [==============================] - 0s 4ms/step - loss: 0.1875 - accuracy: 0.9573
Epoch 4/20
38/38 [==============================] - 0s 4ms/step - loss: 0.1320 - accuracy: 0.9799
Epoch 5/20
29/38 [=====================>........] - ETA: 0s - loss: 0.0967 - accuracy: 0.9892
Epoch 00005: saving model to checkpoints\weights.05.hdf5
38/38 [==============================] - 0s 6ms/step - loss: 0.0908 - accuracy: 0.9899
Epoch 6/20
38/38 [==============================] - 0s 4ms/step - loss: 0.0592 - accuracy: 0.9933
Epoch 7/20
38/38 [==============================] - 0s 4ms/step - loss: 0.0391 - accuracy: 0.9966
Epoch 8/20
38/38 [==============================] - 0s 4ms/step - loss: 0.0265 - accuracy: 0.9983
Epoch 9/20
38/38 [==============================] - 0s 4ms/step - loss: 0.0183 - accuracy: 0.9992
Epoch 10/20
28/38 [=====================>........] - ETA: 0s - loss: 0.0139 - accuracy: 1.0000
Epoch 00010: saving model to checkpoints\weights.10.hdf5
38/38 [==============================] - 0s 5ms/step - loss: 0.0134 - accuracy: 1.0000
Epoch 11/20
38/38 [==============================] - 0s 4ms/step - loss: 0.0100 - accuracy: 1.0000
Epoch 12/20
38/38 [==============================] - 0s 4ms/step - loss: 0.0077 - accuracy: 1.0000
Epoch 13/20
38/38 [==============================] - 0s 4ms/step - loss: 0.0061 - accuracy: 1.0000
Epoch 14/20
38/38 [==============================] - 0s 4ms/step - loss: 0.0050 - accuracy: 1.0000
Epoch 15/20
28/38 [=====================>........] - ETA: 0s - loss: 0.0044 - accuracy: 1.0000
Epoch 00015: saving model to checkpoints\weights.15.hdf5
38/38 [==============================] - 0s 5ms/step - loss: 0.0041 - accuracy: 1.0000
Epoch 16/20
38/38 [==============================] - 0s 4ms/step - loss: 0.0034 - accuracy: 1.0000
Epoch 17/20
38/38 [==============================] - 0s 4ms/step - loss: 0.0029 - accuracy: 1.0000
Epoch 18/20
38/38 [==============================] - 0s 4ms/step - loss: 0.0025 - accuracy: 1.0000
Epoch 19/20
38/38 [==============================] - 0s 4ms/step - loss: 0.0022 - accuracy: 1.0000
Epoch 20/20
28/38 [=====================>........] - ETA: 0s - loss: 0.0019 - accuracy: 1.0000
Epoch 00020: saving model to checkpoints\weights.20.hdf5
38/38 [==============================] - 0s 6ms/step - loss: 0.0019 - accuracy: 1.0000