In [1]:
# Import our dependencies
%matplotlib inline
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import os
from sklearn.svm import SVC
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score

In [2]:
# Loading ipython-sql
%load_ext sql

In [3]:
# Importing create_engine function from sqlalchemy
from sqlalchemy import create_engine

In [4]:
# Connecting ipython-sql to PostgreSQL Database
%sql postgresql://postgres:pencil@localhost/wine_db

In [8]:
# Connecting sqlalchemy to PostgreSQL Database
engine = create_engine('postgresql://postgres:pencil@localhost/wine_db')

In [5]:
# Checking that we can pull data from PostgreSQL Database in cell below

In [6]:
%%sql

SELECT
    *
FROM red_wine_quality 
LIMIT 3

 * postgresql://postgres:***@localhost/wine_db
3 rows affected.

[('red', '7.4', '0.7', '0', '1.9', '0.076', '11', '34', '0.9978', '3.51', '0.56', '9.4', '5'),
 ('red', '7.8', '0.88', '0', '2.6', '0.098', '25', '67', '0.9968', '3.2', '0.68', '9.8', '5'),
 ('red', '7.8', '0.76', '0.04', '2.3', '0.092', '15', '54', '0.997', '3.26', '0.65', '9.8', '5')]

In [9]:
# Formulating DataFrame from Database
df_red_wine = pd.read_sql('SELECT * FROM red_wine_quality', engine)
df_red_wine

,type,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulfates,alcohol,quality
0,red,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,red,7.8,0.88,0,2.6,0.098,25,67,0.9968,3.2,0.68,9.8,5
2,red,7.8,0.76,0.04,2.3,0.092,15,54,0.997,3.26,0.65,9.8,5
3,red,11.2,0.28,0.56,1.9,0.075,17,60,0.998,3.16,0.58,9.8,6
4,red,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1588,red,6.8,0.62,0.08,1.9,0.068,28,38,0.99651,3.42,0.82,9.5,6
1589,red,6.2,0.6,0.08,2,0.09,32,44,0.9949,3.45,0.58,10.5,5
1590,red,6.3,0.51,0.13,2.3,0.076,29,40,0.99574,3.42,0.75,11,6
1591,red,5.9,0.645,0.12,2,0.075,32,44,0.99547,3.57,0.71,10.2,5
1592,red,6,0.31,0.47,3.6,0.067,18,42,0.99549,3.39,0.66,11,6

In [10]:
# Drop the non-beneficial ID columns, 'residual_sugar', 'free_sulfur_dioxide', and 'ph'.
df_red_wine.drop(['residual_sugar', 'free_sulfur_dioxide', 'ph', 'type'], axis=1, inplace=True)

In [11]:
# Create Classification version of target variable
df_red_wine['goodquality'] = [1 if x >= 7 else 0 for x in df_red_wine['quality']]

TypeError: '>=' not supported between instances of 'str' and 'int'